@font-face {
  font-family: "Pixel";
  src: url("../../../../assets/font/Microserif.woff") format("woff2"),
    url("../../../../assets/font/Microserif.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
