<body>
  <nav>
    <ul class="menu">
      <li class="logo">
        <a href="#">Angular</a>
      </li>
      <li class="item">
        <a href="#">Home</a>
      </li>
      <li class="item">
        <a href="#">About</a>
      </li>
      <li class="item">
        <a href="#">Service</a>
      </li>
      <li class="item button">
        <a href="#">Log In</a>
      </li>
      <li class="item button secondary">
        <a href="#">Sign Up</a>
      </li>
      <li class="toggle">
        <a href="#">
          <img id="li-logo" />
        </a>
      </li>
    </ul>
  </nav>
</body>
